@model IEnumerable<MagicVilla_Web.Models.Dto.NumeroVillaDto>
@{
    ViewData["Title"] = "IndexNumeroVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Numero de Villas</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="NumeroVilla" asp-action="CrearNumeroVilla" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Crear Nuevo Numero de Villa</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Villa</th>
                <th>Numero de Villa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Villa.Nombre</td>
                    <td>@item.VillaNo</td>
                    <td>
                        <a asp-controller="NumeroVilla" asp-action="ActualizarNumeroVilla" asp-route-villaNo="@item.VillaNo" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="NumeroVilla" asp-action="RemoverNumeroVilla" asp-route-villaNo="@item.VillaNo" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
